/*
* Styles for MyYoga product landing page
*/

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  position: absolute;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

#header {
  display: flex;
  width: 100%;
  background-color: #e6b649;
}

#nav-bar {
  width: 100%;
  background-color: #e6b649;
  padding: 0px 10px;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #045474;
  padding-top: 15px;
}

.nav-icon {
  width: 100%;
}


h1 {
  font-size: 58px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  padding-bottom: 0px;
}

h2, h3 {
  text-align: center;
  color: #222;
}

h3 {
  font-size: 1.3em;
}

#intro-section  {
  background: url("_static/images/yoga-site-banner.jpg") no-repeat left top;
  background-size: cover;
  background-color: #3498db;
  color: #fff;
  /* min-height: 75vh;
  max-height: 90vh;*/
  min-width: 100%;
}

#intro-section .content-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-background {
  justify-content: center;
}

#banner-button {
  background-color: #fff;
  color: #111;
  border: 0;
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 20px 20px;
  border-radius: 2px;
  text-align: center;
}

.contact-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px 10px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.general-button {
  font-size: 1em;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.8em;
  padding: 10px 0px;
  background-color: #045474;
  color: #fff;
  border: 0;
  border-radius: 2px;
  width: 130px;
  height: 60px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

figcaption {
  background-color: #eee;
  font-size: 0.8em;
  color: #222;
  margin-top: -8px;
  padding: 3px;
}

footer {
  background-color: #045474;
  color: #fff;
  margin-top: 30px;
  font-size: 0.9em;
}

footer a {
  color: #e6b649;
}

#social-icons ul {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#social-icons ul li {
  list-style: none;
  width: 25vw;
}

#social-icons ul li a {
  color: #fff;
}

input, textarea {
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 2px;
}


/* Desktop */

@media (min-width: 901px) {

  body {
    font-size: 1.1em;
  }

  #header-img {
    display: none;
  }

  #header-img-wide {
    width: 239px;
    height: 75px;
  }

  .nav-icon {
    display: none;
  }

  #nav-bar ul {
    height: 100%;
    padding-right: 50px;
  }

  #nav-bar ul li {
    margin: auto 15px;
  }

  #nav-bar ul li {
    margin: auto 15px;
  }

  #intro-section  {
    background: url("_static/images/yoga-site-banner.jpg") no-repeat center center;
    background-size: cover;
    height: 90vh;
  }

  #intro-section h1 {
    padding: 100px 0px;
    font-size: 5em;
  }

}


/* Larger Mobile styles */

@media (max-width: 900px) and (min-width: 451px) {

  #header-img {
    width: 90px;
    height: 90px;
  }

  #header-img-wide {
    display: none;
  }

  header {
    height: 90px;
  }

  #nav-bar {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: 75px;
  }

  #nav-bar ul {
    justify-content: space-between;
  }

  #nav-bar ul li {
    padding: 0px 5px;
    text-align: center;
  }

  #nav-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-bar ul li a p {
    margin-top: 3px;
    font-size: 0.7em;
  }

  .nav-icon {
    width: auto;
  }

  #intro-section {
    width: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #intro-section .content-wrapper .content {
    padding: 5% 0%;
  }

  h1 {
    margin: 1.3em;
  }

  #banner-button {
    font-size: 28px;
  }

  #class-descriptions-container, #pricing-descriptions-container, form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dollar-amount {
    text-align: center;
  }

  .center-column h3 {
    margin: 0px auto;
    padding: 5% 0% 0% 0%;
  }

  .center-column, form div:nth-child(1), form div:nth-child(2) {
    width: 40%;
    padding: 0% 5%;
  }

  .about-description {
    padding: 0% 5%;
  }

  #about-us-img {
    width: 100%;
  }

  form div:nth-child(1), form div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  form div:nth-child(3), form div:nth-child(4), form div:nth-child(5) {
    width: 100%;
    padding: 3% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer {
    padding: 5% 5%;
  }

}

/* Smaller Mobile styles */


@media (max-width: 450px) {

  html, body {
    overflow-x: hidden;
  }

  body {
    position: relative;
    font-size: 1em;
  }

  #header-img {
    width: 90px;
    min-height: 100%;
  }

  #header-img-wide {
    display: none;
  }

  header {
    overflow: hidden;
  }

  #nav-bar ul {
    justify-content: space-between;
  }

  #nav-bar ul li {
    font-size: 10px;
    padding: 0px 5px;
    text-align: center;
  }

  #nav-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-icon {
    width: auto;
  }

  #intro-section {
    width: auto;
    height: 40vh;
  }

  #intro-section .content-wrapper .content {
    padding: 5% 0%;
  }

  h1 {
    font-size: 36px;
    padding: 30px 0px 15px 0px;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .center-column, form div {
    padding: 8px;
  }

  .class-description p, .pricing-description p {
    padding: 0px 10px;
    margin: 0px;
  }

  .about-description p, #footer-content p {
    padding: 5px 10px;
  }

  .dollar-amount {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
  }

  .about-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-us-img, #about-us-img + figcaption {
    width: 90%;
  }

  figcaption {
    padding: 0px;
  }

  form div {
    display: flex;
    flex-direction: column;
  }

  #contact-content-field {
    font-size: 0.9em;
  }

  footer {
    padding: 5% 5%;
  }

}
